.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #939597;
  margin-left: 0;
  margin-right: 0;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
  background-color: white;
  box-shadow: 0 2px 5px 2px rgb(0 0 0 / 15%);
}
.nav {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
.nav button {
  margin: 20px;
  margin-right: 40px;
  font-size: 15px;
  background-color: white;
  border: 0;
}

.nav button:hover{
  color: blue;
}

.profileImage {
  width: 30%;
  height: 30%;
  border-radius: 80%;
}
.title {
  display: flex;
  justify-content: space-evenly;
  background-color: #55849e;
  color: white;
  font-size: 90%;
  margin-top: 60px;
  padding: 20px;
  width: 100%;
}

.name {
  display: flex;
  flex-direction: column;
}

.content {
  padding-left: 6px;
  font-family: "Nunito Sans", sans-serif;
}
.content img {
  height: 25px;
  padding: 20px;
}

.footer {
  bottom: 0;
  margin-bottom: -1.5%;
  margin-right: -2%;
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
}

.error{
  margin-top: 100px;
  text-align: center;
  font-family: "Nunito Sans",
  sans-serif;
}

.footer {
  font-family: "Nunito Sans", sans-serif;
  background-color: #3f3d56;
  margin-top: 90%;
  bottom: 0;
  height: 20px;

}

.footer p{
  color: white;
}

.projects{
  text-align: center;
  margin-top: 100px;
}

.contact{
  text-align: center;
}
